 <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Rutin - Organiza tu vida</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <h1> Rutin </h1>
        <div class="mensajes" id="mensaje-noti"> 
            {% if mensaje %}
                <div class="mensaje">{{ mensaje }}</div>
            {% endif %}
        </div>

        <script>
            const mensaje = document.getElementById("mensaje-noti")

            if (mensaje){
                setTimeout(() => {
                    mensaje.classList.add("oculto");
                    setTimeout(()=>{
                        mensaje.remove();
                    },500);
                },2500);
            }
        </script>

        <div class="filtros">
            <form method="get" action="/">
                <input type="text" name="buscar" placeholder="Buscar..." value="{{ buscar or '' }}">
                
                <select name="prioridad">
                    <option value="">Todas las prioridades</option>
                    <option value="alta" {% if filtro_prioridad == 'alta' %}selected{% endif %}>Alta</option>
                    <option value="media" {% if filtro_prioridad == 'media' %}selected{% endif %}>Media</option>
                    <option value="baja" {% if filtro_prioridad == 'baja' %}selected{% endif %}>Baja</option>
                </select>
                
                <select name="estado">
                    <option value="">Todos</option>
                    <option value="pendientes" {% if filtro_estado == 'pendientes' %}selected{% endif %}>○ Pendientes</option>
                    <option value="completadas" {% if filtro_estado == 'completadas' %}selected{% endif %}>✓ Completadas</option>
                </select>
                
                <button type="submit">Filtrar</button>
                <a href="/">
                    <button type="button">Limpiar</button>
                </a>

                <a href="/estadisticas">
                    <button type="button">Estadísticas de Tareas</button>
                </a>

                <a href="/categorias">
                    <button type="button">Gestionar Categorias</button>
                </a>
            </form>

        </div>
        <form method="post" action="/create">
            <input type="text" name="titulo" placeholder="Tarea nueva" required>
            <textarea name="descripcion" placeholder="Descripción de la tarea (opcional)"></textarea>
            
            <label for="fecha_limite">Desea poner una fecha limite?</label><br>
            <input type="date" value="{{ tasks.fecha_limite.strftime('%Y-%m-%d') if tasks.fecha_limite else '' }}" name="fecha_limite"><br>

            <label for="prioridad">Qué prioridad tiene?</label>
            
            <select name="prioridad">
                <option value="alta">Alta</option>
                <option value="media">Media</option>
                <option value="baja">Baja</option>
            </select>

            {% if categorias %}
                <label for="categoria_id">Qué categoria quiere asignarle a la tarea?</label>
                <select name="categoria_id">
                        <option value=""></option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                    {% endfor %}
                </select>
            {% endif %}

            <button type="submit">Crear Tarea</button>
        </form>

        <ul>
            {% for task in tasks %}
                <li class="{{ 'completed' if task.completada else '' }}">
                    <strong>{{ task.titulo }}</strong>
                        {% if task.descripcion %}
                            <p>{{ task.descripcion }}</p>
                        {% endif %}

                        <span class="prioridad-insignia {{ task.prioridad }}">
                            {% if task.prioridad == 'alta' %} Alta
                            {% elif task.prioridad == 'media' %} Media
                            {% else %} Baja
                            {% endif %}
                        </span>

                        {% if task.categoria %}
                            <span class="categoria-insignia">
                                🗀 {{ task.categoria.nombre }}
                            </span>
                        {% endif %}

                        <span class="fecha_limite">Creada: {{ task.creada_en.strftime('%d/%m/%Y') }} </span>
                        
                        {% if task.fecha_limite %}
                            {{ task.fecha_limite.strftime('%d/%m/%Y') }}
                        {% endif %}

                        <form method="post" action="/completar/{{ task.id }}" style="display: inline;">
                            <button type="submit">
                                {{ '✓ Completada' if task.completada else '○ Pendiente' }}
                            </button>
                        </form>

                        <form method="post" action="/duplicar/{{ task.id }}" style="display: inline;">
                            <button type="submit">Duplicar Tarea</button>
                        </form>

                        <form method="get" action="/editar/{{ task.id }}" style="display: inline;">
                            <button type="submit">Editar Tarea</button>
                        </form>

                        <form method="post" action="/borrar/{{ task.id }}" style="display: inline;">
                            <button type="submit">Borrar</button>
                        </form>
                </li> 
             {% endfor %}
        </ul>

    </body>
</html>